COOKIE_KEYS= # e.g. 'keyboard cat' see https://github.com/pillarjs/cookies#example
DATABASE_URL=
GITHUB_ID=
GITHUB_SECRET=
GOOGLE_CALENDAR_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_TOKEN=
MONGO_URI=
NEXTAUTH_SECRET= # `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_SLACK_APP_ID=
NEXT_PUBLIC_SLACK_TEAM_ID=
SLACK_APP_TOKEN=
SLACK_BOT_TOKEN=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=
TZ=UTC

# nginx-certbot
CERTBOT_EMAIL=
USE_LOCAL_CA=1 # uses a local certificate authority for development